<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LIBROS DISPONIBLES</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>TITULO</th>
					<th>ANIO</th>
					<th>GENERO</th>
					<th>NUMERO DE PAGINAS</th>
					<th>EDITORIAL</th>
					<th>AUTOR</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="libros:${libros}">
					<td th:text="${libros.id}"></td>
					<td th:text="${libros.titulo}"></td>
					<td th:text="${libros.anio}"></td>
					<td th:text="${libros.genero}"></td>
					<td th:text="${libros.num_paginas}"></td>
					<td th:text="${libros.editorial}"></td>
					<td th:text="${libros.autor}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>